.home{
    font-family: 'Source Code Pro', Courier, monospace;
    color: red;
}
.indexTitle{
    text-align: center;
    width: 100%;

    margin-bottom: 10em;
}
input{
    background-color: rgb(5, 5, 5);
    border: 1em;
    color: white;
}
